framework: net45, net46

source https://www.nuget.org/api/v2/

nuget FAKE
nuget FSharp.Formatting

nuget Microsoft.Build.Utilities.Core 14.3.0
nuget Microsoft.Build.Framework 14.3.0
nuget Microsoft.Build.Engine 14.3.0
nuget Microsoft.Build 14.3.0
nuget System.Threading.Tasks.Dataflow 4.5.24.0