
FSharp.Data.TypeProviders.dll

EdmxFile/SampleModel01.edmx

EdmxFile/*.exe.config
EdmxFile/*.dll.config

ODataService/*.exe.config
ODataService/*.dll.config
ODataService/svc.csdl
ODataService/svc2.csdl

SqlDataConnection/*.exe.config
SqlDataConnection/*.dll.config
SqlDataConnection/app.config
SqlDataConnection/NORTHWND.mdf
SqlDataConnection/NORTHWND_log.ldf
SqlDataConnection/nwind2.dbml
SqlDataConnection/nwind3.dbml
SqlDataConnection/test.config

SqlEntityConnection/*.exe.config
SqlEntityConnection/*.dll.config

WsdlService/*.exe.config
WsdlService/*.dll.config
WsdlService/sfile.wsdlschema
WsdlService/sfile2.wsdlschema
