<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="false" />
    </solution>
    <packageSources>
        <clear />
        <add key="localPackages" value="../../artifacts/packages/Release/Dependency/Release"/>
        <add key="remote" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
    <packageSourceMapping>
        <packageSource key="localPackages">
            <package pattern="FSharp.Core" />
        </packageSource>
        <packageSource key="remote">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
