<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="RoslynVSBinariesVersion" value="%RoslynVSBinariesVersion%"/>
    <add key="RoslynVSBinariesVersion-alpha" value="%RoslynVSBinariesVersion%-alpha"/>
    <add key="RoslynVersion" value="%RoslynVersion%"/>
  </config>

  <packages>
    <package id="System.Reflection" version="4.3.0" targetFramework="net46" />
    <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
    <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
    <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net46" />
    <package id="Microsoft.Composition" version="1.0.30" targetFramework="net46" />

    <package id="Microsoft.CodeAnalysis.Common" version="RoslynVersion" targetFramework="net46" />
    <package id="Microsoft.CodeAnalysis.EditorFeatures" version="RoslynVersion" targetFramework="net46" />
    <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="RoslynVersion" targetFramework="net46" />
    <package id="Microsoft.CodeAnalysis.Features" version="RoslynVersion" targetFramework="net46" />
    <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="RoslynVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.LanguageServices" version="RoslynVersion" targetFramework="net46" />

    <package id="EnvDTE" version="8.0.1" targetFramework="net46" />
    <package id="EnvDTE80" version="8.0.1" targetFramework="net46" />
    <package id="VSSDK.VSLangProj" version="7.0.4" targetFramework="net46" />
    <package id="VSSDK.VSLangProj.8" version="8.0.4" targetFramework="net46" />
    <package id="VSSDK.VSLangProj.9" version="9.0.4" targetFramework="net46" />
    <package id="VSSDK.VSLangProj.10" version="10.0.4" targetFramework="net46" />
    <package id="VSSDK.VSLangProj.11" version="11.0.4" targetFramework="net46" />
    <package id="VSSDK.VSHelp" version="7.0.4" targetFramework="net46" />
    <package id="VSSDK.DebuggerVisualizers" version="12.0.4" targetFramework="net46" />

    <package id="Microsoft.VisualStudio.WCFReference.Interop" version="9.0.30729" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.ManagedInterfaces" version="8.0.50727" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.ProjectAggregator" version="8.0.50727" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Threading" version="14.1.131" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4322" />
    <package id="Microsoft.VisualFSharp.Microsoft.VisualStudio.Shell.UI.Internal" version="14.0.25420" targetFramework="net46" />

    <package id="Microsoft.VisualStudio.Shell.Design" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Package.LanguageService.15.0" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Editor" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Text.UI" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Text.Data" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Text.Logic" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.CoreUtility" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Design" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.Framework" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Shell.15.0" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Settings.15.0" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Utilities" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Language.StandardClassification" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Language.Intellisense" version="RoslynVSBinariesVersion" targetFramework="net46" />
    <package id="Microsoft.VSSDK.BuildTools" version="RoslynVSBinariesVersion" />

    <package id="Roslyn.Microsoft.VisualStudio.ComponentModelHost" version="RoslynVSBinariesVersion-alpha" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Text.Internal" version="RoslynVSBinariesVersion-alpha" targetFramework="net46" />
    <package id="Microsoft.VisualStudio.Platform.VSEditor" version="RoslynVSBinariesVersion-alpha" targetFramework="net46" />
  </packages>
  
</configuration>