<?xml version="1.0" encoding="utf-8"?>
<packages>
  
  <package id="System.Reflection" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net46" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="net46" />

  <package id="Microsoft.CodeAnalysis.Common" version="2.3.0-beta2-61719-01" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures" version="2.3.0-beta2-61719-01" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="2.3.0-beta2-61719-01" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Features" version="2.3.0-beta2-61719-01" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="2.3.0-beta2-61719-01" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="2.3.0-beta2-61719-01" targetFramework="net46" />

  <package id="EnvDTE" version="8.0.1" targetFramework="net46" />
  <package id="EnvDTE80" version="8.0.1" targetFramework="net46" />
  <package id="VSSDK.VSLangProj" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.VSLangProj.8" version="8.0.4" targetFramework="net46" />
  <package id="VSSDK.VSLangProj.9" version="9.0.4" targetFramework="net46" />
  <package id="VSSDK.VSLangProj.10" version="10.0.4" targetFramework="net46" />
  <package id="VSSDK.VSLangProj.11" version="11.0.4" targetFramework="net46" />
  <package id="VSSDK.VSHelp" version="7.0.4" targetFramework="net46" />
  <package id="VSSDK.DebuggerVisualizers" version="12.0.4" targetFramework="net46" />
  <package id="Microsoft.MSXML" version="8.0.0-alpha" targetFramework="net46" />

  <package id="Microsoft.VisualStudio.WCFReference.Interop" version="9.0.30729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ManagedInterfaces" version="8.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ProjectAggregator" version="8.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61030" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30110" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Designer.Interfaces" version="1.1.4322" />
  <package id="Microsoft.VisualFSharp.Microsoft.VisualStudio.Shell.UI.Internal" version="14.0.25420" targetFramework="net46" />

  <package id="Microsoft.VisualStudio.Shell.Immutable.15.0" version="15.0.25123-Dev15Preview" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.3.23" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Design" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Package.LanguageService.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Editor" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Settings.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Language.StandardClassification" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="15.1.192" />

  <!--<package id="Roslyn.Microsoft.VisualStudio.ComponentModelHost" version="15.0.26201-alpha" targetFramework="net46" />-->
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="15.0.26201-alpha" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Internal" version="15.0.26201-alpha" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Platform.VSEditor" version="15.0.26201-alpha" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Platform.VSEditor.Interop" version="15.0.26201-alpha" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Telemetry" version="15.0.777-rtm6FAA2C78" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2.0"/>  
</packages>

