@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Gudea);

* { font-family: 'MS Meiryo', Gudea; }

/*-------------------------------------------------------------------------- 
  Formatting for F# code snippets 
/*--------------------------------------------------------------------------*/

/* identifier */
span.i { color:#d1d1d1; }
/* string */
span.s { color:#d4b43c; }
/* keywords */
span.k { color:#4e98dc; }
/* comment */
span.c { color:#96C71D; }
/* operators */
span.o { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }

/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep { color:#af75c1; }
/* fsi output */
span.fsi { color:#808080; }

/* omitted */
span.omitted { 
	background:#3c4e52;
  border-radius:5px;
	color:#808080;
	padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:11pt 'Droid Sans', arial, sans-serif, 'MS Meiryo';
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
} 
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid #d8d8d8;
  border-collapse:separate;
  white-space:pre;
  font: 9pt 'Droid Sans Mono',consolas,monospace,'MS Meiryo';
  width:90%;
  margin:10px 20px 20px 20px;
  background-color:#212d30;
  padding:10px;
  border-radius:5px;
  color:#d1d1d1;  
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

/*-------------------------------------------------------------------------- 
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

body {
  font-family: Gudea, serif, 'MS Meiryo';
  padding-top: 0px;
  padding-bottom: 40px;
}

pre {
    word-wrap: inherit;
}

/* Format the heading - nicer spacing etc. */
.masthead {
  overflow: hidden;
}
.masthead ul, .masthead li {
  margin-bottom:0px;
}
.masthead .nav li {
  margin-top: 15px;
  font-size:110%;
}
.masthead h3 {
  margin-bottom:5px;
  font-size:170%;
}
hr {
  margin:0px 0px 20px 0px;
}

/* Make table headings and td.title bold */
td.title, thead {
  font-weight:bold;
}

/* Format the right-side menu */
#menu {
  margin-top:50px;
  font-size:11pt;
  padding-left:20px;
}

#menu .nav-header {
  font-size:12pt;
  color:#606060;
  margin-top:20px;
}

#menu li {
  line-height:25px;
}

/* Change font sizes for headings etc. */
#main h1 { font-size: 26pt; margin:10px 0px 15px 0px; }
#main h2 { font-size: 20pt; margin:20px 0px 0px 0px; }
#main h3 { font-size: 14pt; margin:15px 0px 0px 0px; }
#main p  { font-size: 12pt; margin:5px 0px 15px 0px; }
#main ul { font-size: 12pt; margin-top:10px; }
#main li { font-size: 12pt; margin: 5px 0px 5px 0px; }

/*-------------------------------------------------------------------------- 
  Formatting for API reference
/*--------------------------------------------------------------------------*/

.type-list .type-name, .module-list .module-name {
  width:25%;
  font-weight:bold;
}
.member-list .member-name {
  width:35%;
}
#main .xmldoc h2 {
  font-size:14pt;
  margin:10px 0px 0px 0px;
}
#main .xmldoc h3 {
  font-size:12pt;
  margin:10px 0px 0px 0px;
}
/*-------------------------------------------------------------------------- 
  Additional formatting for the homepage 
/*--------------------------------------------------------------------------*/

#nuget { 
  margin-top:20px;
  font-size: 11pt; 
  padding:20px; 
}

#nuget pre {
  font-size:11pt;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #404040;
  border-style:none;
  color: #e0e0e0;
  margin-top:15px;
}

/* Hide snippets on the home page snippet & nicely format table */
#hp-snippet td.lines {
  display: none;
}
#hp-snippet .table {
  width:80%;
  margin-left:30px;
}
