<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>dispose</Title>
      <Shortcut>dispose</Shortcut>
      <Description>Code snippet for an IDisposable implementation</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="FSharp"><![CDATA[interface System.IDisposable with
    member this.Dispose() =
        $end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
