<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>exn</Title>
      <Shortcut>exn</Shortcut>
      <Description>Code snippet for an exception declaration</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Exception name</ToolTip>
          <Default>MyException</Default>
        </Literal>
        <Literal>
          <ID>type</ID>
          <ToolTip>Carried data</ToolTip>
          <Default>string</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[exception $name$ of $type$
$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
