<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>forr</Title>
      <Shortcut>forr</Shortcut>
      <Description>Code snippet for a for loop over a range</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>index</ID>
          <ToolTip>Index variable</ToolTip>
          <Default>i</Default>
        </Literal>
        <Literal>
          <ID>max</ID>
          <ToolTip>Exclusive upper bound</ToolTip>
          <Default>length</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[for $index$ in 0 .. $max$ - 1 do
    $selected$$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
