<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>lock</Title>
      <Shortcut>lock</Shortcut>
      <Description>Code snippet for a lock</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>lockObject</ID>
          <ToolTip>Object to lock on</ToolTip>
          <Default>lockObject</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[lock $lockObject$ (fun () ->
    $selected$$end$)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
