<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>matcho</Title>
      <Shortcut>matcho</Shortcut>
      <Description>Code snippet for a match expression over an option</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>expression</ID>
          <ToolTip>Option to match on</ToolTip>
          <Default>expression</Default>
        </Literal>
        <Literal>
          <ID>value</ID>
          <ToolTip>Name bound to the carried value</ToolTip>
          <Default>value</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[match $expression$ with
| Some $value$ -> $end$
| None -> ()]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
