<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>pfn</Title>
      <Shortcut>pfn</Shortcut>
      <Description>Code snippet for printfn</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>text</ID>
          <ToolTip>Text to print</ToolTip>
          <Default>message</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[printfn "$text$"
$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
