<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>prop</Title>
      <Shortcut>prop</Shortcut>
      <Description>Code snippet for an auto-implemented property</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Property name</ToolTip>
          <Default>MyProperty</Default>
        </Literal>
        <Literal>
          <ID>value</ID>
          <ToolTip>Initial value</ToolTip>
          <Default>0</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[member val $name$ = $value$ with get, set
$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
