<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>struct</Title>
      <Shortcut>struct</Shortcut>
      <Description>Code snippet for a struct record</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>Struct name</ToolTip>
          <Default>MyStruct</Default>
        </Literal>
        <Literal>
          <ID>field</ID>
          <ToolTip>Field name</ToolTip>
          <Default>Field</Default>
        </Literal>
        <Literal>
          <ID>type</ID>
          <ToolTip>Field type</ToolTip>
          <Default>int</Default>
        </Literal>
      </Declarations>
      <Code Language="FSharp"><![CDATA[[<Struct>]
type $name$ =
    { $field$: $type$ }
$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
