<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>tryf</Title>
      <Shortcut>tryf</Shortcut>
      <Description>Code snippet for try/finally</Description>
      <Author>Microsoft Corporation</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="FSharp"><![CDATA[try
    $selected$$end$
finally
    ()]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
