lib/debug
lib/release
lib/proto
lib/bootstrap/4.0/*.mdb
lib/bootstrap/4.0/*.xml
lib/bootstrap/4.0/fsharpc
lib/bootstrap/4.0/fsharpi
lib/bootstrap/4.0/policy*
aclocal.m4
src/*.userprefs
src/fsharp/FSStrings.resources
lkg
pack
src/fsharp/FSharp.Build/*.resx
src/fsharp/FSharp.Build-proto/*.resx
src/fsharp/FSharp.Build-proto/*.resources
src/fsharp/FSharp.Compiler-proto/*.resx
src/fsharp/FSharp.Compiler-proto/*.resources
src/fsharp/FSharp.Compiler-proto/*.sln
src/fsharp/FSharp.Compiler-proto/*.userprefs
src/fsharp/fsi/*.resx
src/fsharp/FSharp.Compiler.Interactive.Settings/*.resx
src/fsharp/FSharp.Compiler.Server.Shared/*.resx
src/fsharp/fsi/Fsi.sln
src/fsharp/FSharp.Build/*.resources
src/fsharp/FSharp.Compiler/*.resx
src/fsharp/FSharp.Compiler/*.resources
src/fsharp/FSharp.Compiler/*.sln
src/fsharp/FSharp.Compiler/*.userprefs
src/*.log
Debug
Release
Proto
.libs
Makefile
configure
launcher
autom4te.cache
config.log
config.make
config.status
src/fsharp/FSharp.Compiler/illex.fs
src/fsharp/FSharp.Compiler/ilpars.fs
src/fsharp/FSharp.Compiler/ilpars.fsi
src/fsharp/FSharp.Compiler/lex.fs
src/fsharp/FSharp.Compiler/pars.fs
src/fsharp/FSharp.Compiler/pars.fsi
src/fsharp/FSharp.Compiler-proto/illex.fs
src/fsharp/FSharp.Compiler-proto/ilpars.fs
src/fsharp/FSharp.Compiler-proto/ilpars.fsi
src/fsharp/FSharp.Compiler-proto/lex.fs
src/fsharp/FSharp.Compiler-proto/pars.fs
src/fsharp/FSharp.Compiler-proto/pars.fsi
*~
tests/projects/Sample_VS2012_FSharp_ConsoleApp_net45_with_resource/Sample_VS2012_FSharp_ConsoleApp_net45/Sample_VS2012_FSharp_ConsoleApp_net45.sln
tests/projects/Sample_VS2012_FSharp_ConsoleApp_net45_with_resource/Sample_VS2012_FSharp_ConsoleApp_net45/Sample_VS2012_FSharp_ConsoleApp_net45.userprefs
*.suo
obj
extras
ossreadme*.txt
tests/fsharp/typecheck/sigs/*.exe
tests/fsharp/typecheck/sigs/*.diff
tests/fsharp/typecheck/sigs/*.err
tests/fsharp/typecheck/sigs/*.vsdiff
tests/fsharp/typecheck/sigs/*.dll
tests/fsharp/typecheck/sigs/*.vserr
src/fsharp/FSharp.LanguageService.Compiler/illex.*
src/fsharp/FSharp.LanguageService.Compiler/ilpars.*
src/fsharp/FSharp.LanguageService.Compiler/lex.*
src/fsharp/FSharp.LanguageService.Compiler/pars.*
tests/fsharp/typecheck/sigs/*.dll
tests/fsharp/typecheck/sigs/*.exe
vsintegration/src/unittests/Unittests.fsi
tests/fsharpqa/Source/CodeGen/EmittedIL/StaticInit/StaticInit_Module01.dll
tests/fsharpqa/Source/CodeGen/EmittedIL/StaticInit/StaticInit_Module01.pdb
tests/fsharp/typeProviders/helloWorld/bincompat1/
tests/fsharp/typeProviders/helloWorld/bincompat2/
tests/XFSharpQA_Failures.log.*
vsintegration/src/vs/FsPkgs/FSharp.Project/FS/FSharp.ProjectSystem.FSharp.fsi
vsintegration/src/vs/FsPkgs/FSharp.Project/FS/ctofiles/
tests/fsharpqa/Source/CodeGen/EmittedIL/QueryExpressionStepping/Utils.dll
tests/fsharpqa/Source/CodeGen/EmittedIL/ComputationExpressions/ComputationExprLibrary.dll

*.csproj.user
