# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text eol=crlf merge=union
*.csproj text merge=union
*.vbproj text merge=union
*.fsproj text merge=union
*.dbproj text merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

autogen.sh text eol=lf
launcher.in text eol=lf
config.make.in text eol=lf
targets.make text eol=lf
configure.ac text eol=lf
Makefile.in text eol=lf