# CI and PR triggers
trigger:
  branches:
    include:
    - main
    - feature/*
    - release/*
  paths:
    include:
    - '*'
    exclude:
    - .github/*
    - docs/
    - .vscode/*
    - .devcontainer/*
    - tests/scripts/
    - attributions.md
    - CODE_OF_CONDUCT.md
    - DEVGUIDE.md
    - INTERNAL.md
    - Language-Version-History.md
    - License.txt
    - README.md
    - release-notes.md
    - TESTGUIDE.md

variables:
  # Release branch for F#
  # Should be 'current' release branch name, i.e. 'release/dev17.10' in dotnet/fsharp/refs/heads/main, 'release/dev17.10' in dotnet/fsharp/refs/heads/release/dev17.10 and 'release/dev17.9' in dotnet/fsharp/refs/heads/release/dev17.9
  # Should **never** be 'main' in dotnet/fsharp/refs/heads/main, since it will start inserting to VS twice.
  - name: FSharpReleaseBranchName
    value: release/dev17.14
  # VS Insertion branch name (NOT the same as F# branch)
  # Should be previous release branch or 'main' in 'main' and 'main' in release branch
  # (since for all *new* release branches we insert into VS main and for all *previous* releases we insert into corresponding VS release),
  # i.e. 'rel/d17.9' *or* 'main' in dotnet/fsharp/refs/heads/main and 'main' in F# dotnet/fsharp/refs/heads/release/dev17.10 (latest release branch)
  - name: VSInsertionTargetBranchName
    value: main
  - name: _TeamName
    value: FSharp
  - name: TeamName
    value: FSharp
  - name: _BuildConfig
    value: Release
  - name: _SignType
    value: Real
  - name: _PublishUsingPipelines
    value: true
  - name: VisualStudioDropName
    value: Products/$(System.TeamProject)/$(Build.Repository.Name)/$(Build.SourceBranchName)/$(Build.BuildNumber)
  - name: Codeql.Enabled
    value: true
  - group: DotNet-FSharp-SDLValidation-Params
  - template: /eng/common/templates-official/variables/pool-providers.yml@self

resources:
  repositories:
  - repository: MicroBuildTemplate
    type: git
    name: 1ESPipelineTemplates/MicroBuildTemplate
    ref: refs/tags/release

extends:
  template: azure-pipelines/MicroBuild.1ES.Official.yml@MicroBuildTemplate
  parameters:
    featureFlags:
      autoBaseline: true
    sdl:
      binskim:
        enabled: true
      policheck:
        enabled: true
      sbom:
        enabled: false # VS SBOM is generated with other steps
        justificationForDisabling: 'SBOM for F# is generated via build process. Will be migrated at later date.'
      tsa:
        enabled: true
        configFile: '$(Build.SourcesDirectory)/eng/TSAConfig.gdntsa'
      sourceAnalysisPool:
        name: NetCore1ESPool-Svc-Internal
        image: 1es-windows-2022
        os: windows
    stages:
    - stage: build
      displayName: Build
      jobs:
      #-------------------------------------------------------------------------------------------------------------------#
      #                                                  Signed build                                                     #
      #-------------------------------------------------------------------------------------------------------------------#
      # Localization: we only run it for specific release branches
      - ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/release/dev17.14') }}:
        - template: /eng/common/templates-official/job/onelocbuild.yml@self
          parameters:
            MirrorRepo: fsharp
            MirrorBranch: $(FSharpReleaseBranchName)
            LclSource: lclFilesfromPackage
            LclPackageId: 'LCL-JUNO-PROD-FSHARP'
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enableMicrobuild: true
          enablePublishBuildArtifacts: true
          enablePublishTestResults: false
          enablePublishBuildAssets: true
          enablePublishUsingPipelines: $(_PublishUsingPipelines)
          enableSourceBuild: true
          enableTelemetry: true
          helixRepo: dotnet/fsharp
          jobs:
          - job: Full_Signed
            pool:
              name: NetCore1ESPool-Svc-Internal
              image: windows.vs2022preview.amd64
            timeoutInMinutes: 300
            templateContext:
              mb:
                signing:
                  enabled: true
                  feedSource: https://dnceng.pkgs.visualstudio.com/_packaging/MicroBuildToolset/nuget/v3/index.json
                  signType: $(_SignType)
                  zipSources: false

            variables:
            - group: DotNet-Symbol-Server-Pats
            - group: DotNet-DevDiv-Insertion-Workflow-Variables
            - name: _SignType
              value: Real
            steps:
            - checkout: self
              clean: true
            - template: /eng/restore-internal-tools.yml
            - script: eng\CIBuild.cmd
                      -configuration $(_BuildConfig)
                      -prepareMachine
                      -testAllButIntegrationAndAot
                      -officialSkipTests $(SkipTests)
                      /p:SignType=$(_SignType)
                      /p:DotNetSignType=$(_SignType)
                      /p:MicroBuild_SigningEnabled=true
                      /p:TeamName=$(_TeamName)
                      /p:DotNetPublishUsingPipelines=$(_PublishUsingPipelines)
                      /p:OfficialBuildId=$(BUILD.BUILDNUMBER)
                      /p:VisualStudioDropName=$(VisualStudioDropName)
                      /p:GenerateSbom=true
              env:
                  NativeToolsOnMachine: true
            - task: PublishTestResults@2
              displayName: Publish Test Results
              inputs:
                testResultsFormat: 'XUnit'
                testResultsFiles: '*.xml'
                searchFolder: '$(Build.SourcesDirectory)/artifacts/TestResults/$(_BuildConfig)'
              continueOnError: true
              condition: ne(variables['SkipTests'], 'true')
            - task: 1ES.PublishPipelineArtifact@1
              displayName: Publish Test Logs
              inputs:
                targetPath: '$(Build.SourcesDirectory)\artifacts\TestResults\$(_BuildConfig)'
                artifactName: 'Test Logs'
                publishLocation: Container
              continueOnError: true
              condition: ne(variables['SkipTests'], 'true')
            - task: 1ES.PublishPipelineArtifact@1
              displayName: Publish Artifact Packages
              inputs:
                targetPath: '$(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)'
                artifactName: 'Packages'
              condition: succeeded()
            - task: 1ES.PublishPipelineArtifact@1
              displayName: Publish Artifact VSSetup
              inputs:
                targetPath: '$(Build.SourcesDirectory)\artifacts\VSSetup\$(_BuildConfig)\Insertion'
                artifactName: 'VSSetup'
              condition: succeeded()
            - task: 1ES.PublishPipelineArtifact@1
              displayName: Publish Artifact Nightly
              inputs:
                targetPath: '$(Build.SourcesDirectory)\artifacts\VSSetup\$(_BuildConfig)\VisualFSharpDebug.vsix'
                artifactName: 'Nightly'
              condition: succeeded()
            - task: 1ES.PublishPipelineArtifact@1
              displayName: Publish Artifact Symbols
              inputs:
                targetPath: '$(Build.SourcesDirectory)\artifacts\SymStore\$(_BuildConfig)'
                artifactName: 'NativeSymbols'
              condition: succeeded()
            - task: 1ES.MicroBuildVstsDrop@1
              displayName: Upload VSTS Drop
              inputs:
                dropName: $(VisualStudioDropName)
                dropFolder: '$(Build.SourcesDirectory)\artifacts\VSSetup\$(_BuildConfig)\Insertion'
                dropRetentionDays: 90
                accessToken: $(dn-bot-devdiv-drop-rw-code-rw)
                dropServiceUri: 'https://devdiv.artifacts.visualstudio.com'
                vsDropServiceUri: 'https://vsdrop.corp.microsoft.com/file/v1'

              condition: succeeded()

    #---------------------------------------------------------------------------------------------------------------------#
    #                                                    Post Build                                                       #
    #---------------------------------------------------------------------------------------------------------------------#
    - template: eng/common/templates-official/post-build/post-build.yml@self
      parameters:
        publishingInfraVersion: 3
        # Symbol validation is not entirely reliable as of yet, so should be turned off until https://github.com/dotnet/arcade/issues/2871 is resolved.
        enableSymbolValidation: false
        # SourceLink improperly looks for generated files.  See https://github.com/dotnet/arcade/issues/3069
        enableSourceLinkValidation: false
        # Enable SDL validation, passing through values from the 'DotNet-FSharp-SDLValidation-Params' group.
        SDLValidationParameters:
          enable: true
          params: >-
            -SourceToolsList @("policheck","credscan")
            -ArtifactToolsList @("binskim")
            -BinskimAdditionalRunConfigParams @("IgnorePdbLoadError < True","Recurse < True")
            -TsaInstanceURL $(_TsaInstanceURL)
            -TsaProjectName $(_TsaProjectName)
            -TsaNotificationEmail $(_TsaNotificationEmail)
            -TsaCodebaseAdmin $(_TsaCodebaseAdmin)
            -TsaBugAreaPath $(_TsaBugAreaPath)
            -TsaIterationPath $(_TsaIterationPath)
            -TsaRepositoryName "FSharp"
            -TsaCodebaseName "FSharp-GitHub"
            -TsaPublish $True
            -PoliCheckAdditionalRunConfigParams @("UserExclusionPath < $(Build.SourcesDirectory)/eng/policheck_exclusions.xml")

    #---------------------------------------------------------------------------------------------------------------------#
    #                                                   VS Insertion                                                      #
    #---------------------------------------------------------------------------------------------------------------------#
    - template: eng/release/insert-into-vs.yml@self
      parameters:
        componentBranchName: refs/heads/${{ variables.FSharpReleaseBranchName }}
        insertTargetBranch: ${{ variables.VSInsertionTargetBranchName }}
        insertTeamEmail: fsharpteam@microsoft.com
        insertTeamName: 'F#'
        completeInsertion: 'auto'
