<?xml version="1.0" encoding="utf-8"?>
<packages>

<!-- The packages to build and test the F# Compiler -->
<!-- Packages for the Visual F# IDE Tools should go in vsintegration\packages.config -->

  <!-- CodeGen-->
  <package id="FsLexYacc" version="7.0.6" targetFramework="net46" />

  <!-- Build infrastructure-->
  <package id="MicroBuild.Core" version="0.2.0" />
  <package id="MicroBuild.Core.Sentinel" version="1.0.0" />

  <!-- For the internal orchestrated build.  This version should be kept in sync with `PublishToBlob.proj` -->
  <package id="Microsoft.DotNet.Build.Tasks.Feed" version="1.0.0-prerelease-02219-01" />

  <!-- Actual dependencies of FSharp.Compiler.dll and FSharp.Core.dll -->
  <package id="System.Collections.Immutable" version="1.3.1" />
  <package id="System.Reflection.Metadata" version="1.4.2" />
  <package id="Microsoft.DiaSymReader.PortablePdb" version="1.2.0"  />
  <package id="Microsoft.DiaSymReader" version="1.1.0" />
  <package id="System.ValueTuple" version="4.3.1" />
  <package id="Microsoft.VisualFSharp.Msbuild.15.0" version="1.0.1" />

  <!-- Testing -->
  <package id="FsCheck" version="2.6.2" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Console" version="3.0.0" targetFramework="net45" />
  <package id="NUnitLite" version="3.5.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.0.8-ctp-8" targetFramework="net45" />
  <package id="BenchmarkDotNet" version="0.9.8"/>
  <package id="BenchmarkDotNet.Diagnostics.Windows" version="0.9.8"/>
  <package id="Newtonsoft.Json" version="8.0.1"/>
  <package id="Microsoft.FSharp.TupleSample" version="1.0.0-alpha-161121"/>
  <package id="Microsoft.VSSDK.BuildTools" version="15.1.192" />

  <!-- Annoyingly the build of FSharp.Compiler.Server.Shared references a Visual Studio-specific attribute -->
  <!-- That DLL is logically part of the F# Compiler and F# Interactive but is shipped as part of the Visual F# IDE Tools -->
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26201" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net46" />

  <!-- FSharp.Compiler.Tools is only used to get a working FSI.EXE to execute some scripts during the build -->
  <!-- The LKG FSI.EXE requires MSBuild 15 to be installed, which is painful -->
  <package id="FSharp.Compiler.Tools" version="4.1.27"/>

  <!-- Frozen portable library versions of FSharp.Core.dll (simply a renamed fsharp.core.4.1.18-->
  <package id="Microsoft.Portable.FSharp.Core" version="4.1.20"/>

  <!-- FSharp.Core is used to get back versions of FSharp.Core -->
  <package id="FSharp.Core" version="4.1.17"/>

  <!-- FSharp.Core is used to get back versions of FSharp.Core -->
  <package id="FSharp.Core" version="4.0.0.1"/>

  <!-- FSharp.Core is used to get back versions of FSharp.Core -->
  <package id="FSharp.Core" version="3.1.2.5"/>

  <!-- FSharp.Core is used to get back versions of FSharp.Core -->
  <package id="FSharp.Core" version="3.0.2"/>

  <!-- FSharp.Data is used in some of the scripts ued for the coreclr build -->
  <package id="FSharp.Data" version="2.2.5" />

  <!-- FSharp.Configuration is one type provider used in testing -->
  <package id="FSharp.Configuration" version="1.3.0" />

  <!-- Perl is used for the fsharpqa test suite -->
  <package id="StrawberryPerl64" version="5.22.2.1" />

</packages>
