<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dnx-coreclr-win-x86" version="1.0.0-beta7" />
  <package id="Microsoft.DotNet.BuildTools" version="1.0.25-prerelease-00085" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
  <package id="NUnit.Runners" version="2.6.4" />
  <package id="FsCheck" version="2.0.3" />
  <package id="FSharp.Data" version="2.2.5" />
</packages>