<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="DependencyVersion" value="Highest" />
  </solution>
  <packageSources>  
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="artifacts" value="../../../../../artifacts" />
  </packageSources>
</configuration>
