<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>  
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="artifacts" value="../../../../../artifacts" />
    <add key="artifacts" value="../../../../../artifacts/4.2.0" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>
