<configuration>
   <runtime>
      <gcServer enabled="true"/>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="FSharp.Core" publicKeyToken="a19089b1c74d0809" culture="neutral" />
            <codeBase version="{LkgVersion}" href="FSharp.Core\FSharp.Core.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
