# Many tests create the following test artifacts
tmptest.exe
tmptest.fs
tmptest.fsi
tmptest1.exe

# Other tests create signing artifacts
*.sn.out

access/fsc.cmd.args

fsi-reference/ImplementationAssembly/ReferenceAssemblyExample.dll
fsi-reference/ReferenceAssembly/ReferenceAssemblyExample.dll

forwarders/orig
forwarders/split

queriesCustomQueryOps/negativetest.err
queriesCustomQueryOps/negativetest.vserr

printing/z.output.test.*.txt
printing/z.raw.output.test.*.txt
printing/z.output.test.*.diff

quotes/cslib.dll

parsing/crlf.dll
parsing/crlf.pdb
parsing/toplet.exe
parsing/toplet.pdb

unicode/kanji-unicode-*.dll
unicode/kanji-unicode-*.pdb
unicode/out?.txt

internalsvisible/main.exe

hiding/client.exe

load-script/out.txt
load-script/usesfsi.exe

queriesOverOData/schema?.csdl

quotesInMultipleModules/module1.dll
quotesInMultipleModules/module1-opt.dll
quotesInMultipleModules/module2.exe
quotesInMultipleModules/module2-opt.exe

resources/Resources.resources

topinit/app69514.exe
topinit/app69514.pdb
topinit/app69514-noopt.exe
topinit/app69514-noopt.pdb
topinit/app69514-noopt-withsig.exe
topinit/app69514-noopt-withsig.pdb
topinit/app69514-withsig.exe
topinit/app69514-withsig.pdb
topinit/both69514.exe
topinit/both69514.pdb
topinit/both69514-noopt.exe
topinit/both69514-noopt.pdb

verify/xmlverify.exe
verify/xmlverify.pdb

fsi-reload/load1.exe
fsi-reload/load2.exe

quotesInMultipleModules/module2-staticlink.exe

load-script/out.stderr.txt
load-script/out.stdout.txt

members/basics/tmptest.exe
members/basics/tmptest.fs
members/basics/tmptest.fsi
members/basics/tmptest1.exe
