<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="DependencyVersion" value="Highest" />
  </solution>
  <packageSources>
    <add key="artifacts" value="../../artifacts" />
  </packageSources>
</configuration>
