<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Open Technologies, Inc.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net45" />
</packages>
