<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Common Variables -->
	<Fragment>
		<?define LangLCID = $(fsharp.localeToId($(var.Lang))) ?>
		<?define LangCulture = $(fsharp.localeToCulture($(var.Lang))) ?>
	</Fragment>
	
	<!-- Common Folders -->
	<Fragment>	
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="Program Files">
				<Directory Id="ReferenceAssemblies" Name="Reference Assemblies">
					<Directory Id="ReferenceAssemblies_Microsoft" Name="Microsoft">
						<Directory Id="ReferenceAssemblies_Microsoft_FSharp" Name="FSharp">
							<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework" Name=".NETFramework">
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0" Name="v4.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.1.0" Name="4.4.1.0">
										<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.1.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
									</Directory>
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.0.0" Name="4.4.0.0">
										<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.0.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
									</Directory>
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.1.0" Name="4.3.1.0">
										<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.1.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
									</Directory>
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.0.0" Name="4.3.0.0">
										<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.0.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
									</Directory>
								</Directory>
							</Directory>
							
							<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable" Name=".NETPortable">
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.41.0" Name="3.47.41.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.41.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.4.0" Name="3.47.4.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.4.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.1" Name="2.3.5.1">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.1_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.0" Name="2.3.5.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
							</Directory>
							
							<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore" Name=".NETCore">
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.41.0" Name="3.7.41.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.41.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.4.0" Name="3.7.4.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.4.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.3.1.0" Name="3.3.1.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.3.1.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>

								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.41.0" Name="3.78.41.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.41.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.4.0" Name="3.78.4.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.4.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.3.1" Name="3.78.3.1">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.3.1_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>

								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.41.0" Name="3.259.41.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.41.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.4.0" Name="3.259.4.0">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.4.0_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
								<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.3.1" Name="3.259.3.1">
									<Directory Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.3.1_$(var.LangLCID)" Name="$(var.LangCulture)" />
								</Directory>
							</Directory>
						</Directory>
					</Directory>
				</Directory>
				
				<Directory Id="MicrosoftSDKs" Name="Microsoft SDKs">
					<Directory Id="MicrosoftSDKs_FS" Name="F#">
						<Directory Id="MicrosoftSDKs_FS_4.1" Name="4.1">
							<Directory Id="MicrosoftSDKs_FS_4.1_Framework" Name="Framework">
								<Directory Id="MicrosoftSDKs_FS_4.1_Framework_v4.0" Name="v4.0" />
							</Directory>
						</Directory>
						
						<Directory Id="MicrosoftSDKs_FS_Licenses" Name="Licenses">
							<Directory Id="MicrosoftSDKs_FS_Licenses_$(var.LangLCID)" Name="$(var.LangLCID)" />
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>