<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define ProductVersion = "4.1"?>
	<?define ProductPlatform = "x86"?>
	<?define ProductManufacturer = "Microsoft Corporation"?>
	<?define ProductDescription = "Visual F# $(var.ProductVersion) SDK"?>
	<?define ProductUpgradeCode = "$(fsharp.guid($(var.ProductDescription),$(var.ProductPlatform),$(fsharp.localeToId($(var.Lang))),$(var.ProductVersion)))" ?>

	<Product Id="*" Name="$(var.ProductDescription)" Manufacturer="$(var.ProductManufacturer)" Version="$(var.ProductVersion)" Language="$(fsharp.localeToId($(var.Lang)))" UpgradeCode="$(var.ProductUpgradeCode)">	

		<Package Description="$(var.ProductDescription)" Platform="$(var.ProductPlatform)" Manufacturer="$(var.ProductManufacturer)" InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of this product is already installed." Schedule="afterInstallInitialize" />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="Redist_Feature"
				 Title="Microsoft Visual F# Runtime for .NET"
				 Description="Runtime components for F# compiled binaries."
				 Display="hidden">

			<ComponentGroupRef Id="Redist_ManagedFiles" />
		</Feature>

		<Feature Id="Compiler_Feature"
				 AllowAdvertise="no"
				 Description="Installs the Visual F# programming language and all associated components."
				 Title="Visual F#">

			<ComponentGroupRef Id="Compiler_SDK" />
			<ComponentGroupRef Id="Compiler_OtherResources" />
		</Feature>
		
        <Feature Id="Langpack_Feature"
				 Title="Microsoft Visual F# Runtime Langpack for .NET 4.0"
				 Description="Langpack for F# Runtime $(var.ProductVersion)"
				 Display="hidden">
				 
            <ComponentGroupRef Id="Langpack_ManagedFiles"   />
        </Feature>
	</Product>
</Wix>