<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-4.4.1.0" newVersion="4.4.1.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Conversion.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.Conversion.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.1.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Engine" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-14.0.0.0" newVersion="15.0.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.Engine.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.1.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.Framework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Tasks.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.1.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.Tasks.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Utilities.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="2.0.0.0-15.0.0.0" newVersion="15.1.0.0"/>
        <codeBase version="15.1.0.0" href="..\..\..\..\..\MSBuild\15.0\Bin\Microsoft.Build.Utilities.Core.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
