<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <clear />
        <add key="localPackages" value="../../../artifacts/packages/Release/Release" Version="7.*"/>
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
</configuration>
