<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="false" />
    </solution>
    <packageSources>
        <clear />
        <add key="localPackages" value="../../../artifacts/packages/Release/Release"/>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
    <packageSourceMapping>
        <packageSource key="localPackages">
            <package pattern="FSharp.Core" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
