/* Animated gifs on the homepage */
#anim-holder {
  overflow:hidden;
  position:relative;
  border-radius:5px;
}

#wbtn, #jbtn, #cbtn {
  cursor:pointer;
  border-style:none;
  color:#f0f8ff;
  border-radius:5px;
  background:#415d60;
  opacity:0.7;
  width:90px;
  height:23px;
  font-size:80%;
  text-align:center;
  padding-top:2px;
  position:absolute;
  top:10px;
}

#anim-holder a img {
  min-width:800px;
}

.nav-list > li > a.nflag {
  float:right;
  padding:0px;
}
.nav-list > li > a.nflag2 {
  margin-right:18px;
}