<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:NetFx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Fragment>
    <ComponentGroup Id="Compiler_Redist">
      <ComponentRef Id="Compiler_Redist_FSharp.Core.dll" />
      <ComponentRef Id="Compiler_Redist_FSharp.Build.dll" />
      <ComponentRef Id="Compiler_Redist_FSharp.Compiler.dll" />
      <ComponentRef Id="Compiler_Redist_FSharp.Compiler.Interactive.Settings.dll" />      
      <ComponentRef Id="Compiler_Redist_FSharp.Data.TypeProviders.dll" />      
      <ComponentRef Id="Compiler_Redist_fsc.exe" />
      <ComponentRef Id="Compiler_Redist_fsi.exe" />
      <ComponentRef Id="Compiler_Redist_fsiAnyCPU.exe" />
      <ComponentRef Id="Compiler_Redist_FSharp.Compiler.Server.Shared.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.FSharp.targets" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Portable.FSharp.targets" />
      <ComponentRef Id="Compiler_Redist_Microsoft.FSharp.NetSdk.props" />
      <ComponentRef Id="Compiler_Redist_Microsoft.FSharp.NetSdk.targets" />
      <ComponentRef Id="Compiler_Redist_SupportedRuntimes.xml" />
      <ComponentRef Id="Compiler_Redist_RegistryKeys_CompilerLocation" />

      <ComponentRef Id="Compiler_Redist_Microsoft.Build.Conversion.Core.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Build.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Build.Engine.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Build.Framework.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Build.Tasks.Core.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.Build.Utilities.Core.dll" />

      <ComponentRef Id="Compiler_Redist_Microsoft.DiaSymReader.PortablePdb.dll" />
      <ComponentRef Id="Compiler_Redist_Microsoft.DiaSymReader.dll" />
      <ComponentRef Id="Compiler_Redist_System.Reflection.Metadata.dll" />
      <ComponentRef Id="Compiler_Redist_System.Collections.Immutable.dll" />
      <ComponentRef Id="Compiler_Redist_System.ValueTuple.dll" />

      <ComponentRef Id="Compiler_Redist_OtherResources_Redist.txt" />
      <ComponentRef Id="Compiler_Redist_OtherResources_ThirdPartyNotices.txt" />
      <ComponentRef Id="Compiler_Redist_OtherResources_FSharp_eula.$(var.LocaleCode).rtf" />

    </ComponentGroup>

    <DirectoryRef Id="MicrosoftSDKs_FS_4.1_Framework_v4.0">

      <Component Id="Compiler_Redist_FSharp.Core.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Core.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Core.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.dll" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_FSharp.Core.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files. For consistency we also continue to produce the files -->
        <!-- for FSharp.Core 4.4.1.0, and include them in the redist. -->
        <!-- -->
        <!-- We should continue to produce the files for FSharp.Core 4.4.2.0 and beyond, for inclusion in the FSharp.Core -->
        <!-- nuget package. We should do this for as long as it is possible that old F# compilers (VS2010-VS2017) will end up referring to newer -->
        <!-- versions of the FSharp.Core package (which can happen automatically on package upgrade).  However for FSharp.Core 4.4.2.0 -->
        <!-- beyond the files will not be needed in the redist, which is only ever installed on machines alongside a recent -->
        <!-- F# compiler -->
        <File Id="FSharp_Core_Sigdata_File" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.sigdata" />
        <File Id="FSharp_Core_Optdata_File" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.optdata" />
        <File Id="FSharp_Core_Xml_File" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.xml" />
      </Component>

      <Component Id="Compiler_Redist_FSharp.Build.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Build.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Build.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Build.dll" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_FSharp.Build.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
      </Component>

      <Component Id="Compiler_Redist_FSharp.Compiler.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Compiler.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Compiler.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Compiler.dll" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_FSharp.Compiler.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
      </Component>

      <Component Id="Compiler_Redist_FSharp.Compiler.Interactive.Settings.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Compiler.Interactive.Settings.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Compiler.Interactive.Settings.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Compiler.Interactive.Settings.dll" KeyPath="yes">
           <NetFx:NativeImage Id="Compiler_Redist_FSharp.Compiler.Interactive.Settings.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
      </Component>

      <Component Id="Compiler_Redist_FSharp.Data.TypeProviders.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Data.TypeProviders.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Data.TypeProviders.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Type.Providers.Redist.1.0.0\content\4.3.0.0\FSharp.Data.TypeProviders.dll" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_FSharp.Data.TypeProviders.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
      </Component>

      <Component Id="Compiler_Redist_fsc.exe" Guid="$(fsharp.guid(Compiler_Redist_fsc.exe, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_fsc.exe" Source="$(var.BinariesDir)\net40\bin\fsc.exe" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_fsc.Native.exe" Priority="0" Dependencies="no" Platform="32bit" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
        <File Id="Compiler_Redist_fsc.exe.config" Source="$(var.BinariesDir)\net40\bin\fsc.exe.config" />
      </Component>

      <Component Id="Compiler_Redist_fsi.exe" Guid="$(fsharp.guid(Compiler_Redist_fsi.exe, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_fsi.exe" Source="$(var.BinariesDir)\net40\bin\fsi.exe" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_fsi.Native.exe" Priority="0" Dependencies="no" Platform="32bit" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
        <File Id="Compiler_Redist_fsi.exe.config" Source="$(var.BinariesDir)\net40\bin\fsi.exe.config" />
      </Component>

      <Component Id="Compiler_Redist_fsiAnyCPU.exe" Guid="$(fsharp.guid(Compiler_Redist_fsiAnyCPU.exe, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_fsiAnyCPU.exe" Source="$(var.BinariesDir)\net40\bin\fsiAnyCpu.exe" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_fsiAnyCPU.Native.exe" Priority="0" Dependencies="no" Platform="32bit" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
        <File Id="Compiler_Redist_fsianycpu.exe.config" Source="$(var.BinariesDir)\net40\bin\fsiAnyCpu.exe.config" />
      </Component>

      <Component Id="Compiler_Redist_FSharp.Compiler.Server.Shared.dll" Guid="$(fsharp.guid(Compiler_Redist_FSharp.Compiler.Server.Shared.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_FSharp.Compiler.Server.Shared.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Compiler.Server.Shared.dll" KeyPath="yes">
          <NetFx:NativeImage Id="Compiler_Redist_FSharp.Compiler.Server.Shared.Native.dll" Priority="0" Dependencies="no" Platform="all" AssemblyApplication="Compiler_Redist_fsc.exe" />
        </File>
      </Component>      

      <Component Id="Compiler_Redist_Microsoft.FSharp.targets" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.FSharp.targets, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.FSharp.targets" Source="$(var.BinariesDir)\net40\bin\Microsoft.FSharp.targets" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Portable.FSharp.targets" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Portable.FSharp.targets, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Portable.FSharp.targets" Source="$(var.BinariesDir)\net40\bin\Microsoft.Portable.FSharp.targets" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.FSharp.NetSdk.props" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.FSharp.NetSdk.props, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.FSharp.NetSdk.props" Source="$(var.BinariesDir)\net40\bin\Microsoft.FSharp.NetSdk.props" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.FSharp.NetSdk.targets" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.FSharp.NetSdk.targets, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.FSharp.NetSdk.targets" Source="$(var.BinariesDir)\net40\bin\Microsoft.FSharp.NetSdk.targets" />
      </Component>

      <Component Id="Compiler_Redist_SupportedRuntimes.xml" Guid="$(fsharp.guid(Compiler_Redist_SupportedRuntimes.xml, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_SupportedRuntimes.xml" Source="$(var.FSharpTreeRoot)\vsintegration\src\SupportedRuntimes\SupportedRuntimes.xml" />
      </Component>

      <Component Id="Compiler_Redist_RegistryKeys_CompilerLocation" Guid="$(fsharp.guid(Compiler_Redist_RegistryKeys_CompilerLocation, $(var.LocaleCode)))">
        <Environment Id="Compiler_Redist_FSHARPINSTALLDIR_Environment_Variable" Name="FSHARPINSTALLDIR" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]" Action="create" System="yes" />
        <RegistryKey Root="HKLM" Key="Software\Microsoft\FSharp\4.1\Runtime\v4.0" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\15.0\MSBuild\SafeImports" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Microsoft.FSharp.Targets" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]Microsoft.FSharp.Targets" Type="string" />
          <RegistryValue Name="Microsoft.Portable.FSharp.Targets" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]Microsoft.Portable.FSharp.Targets" Type="string" />
          <RegistryValue Name="Microsoft.FSharp.NetSdk.props" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]Microsoft.FSharp.NetSdk.props" Type="string" />
          <RegistryValue Name="Microsoft.FSharp.NetSdk.targets" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]Microsoft.FSharpNetSdk.targets" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\15.0\Setup\F#" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="ProductDir" Value="[MicrosoftSDKs_FS_4.1_Framework_v4.0]" Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.Conversion.Core.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.Conversion.Core.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.Conversion.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.Conversion.Core.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.Engine.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.Engine.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.Engine.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.Engine.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.Framework.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.Framework.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.Framework.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.Framework.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.Tasks.Core.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.Tasks.Core.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.Tasks.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.Tasks.Core.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.Build.Utilities.Core.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.Build.Utilities.Core.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.Build.Utilities.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Msbuild.15.0.1.0.1\lib\net45\Microsoft.Build.Utilities.Core.dll" />
      </Component>

      <Component Id="Compiler_Redist_System.Collections.Immutable.dll" Guid="$(fsharp.guid(Compiler_Redist_System.Collections.Immutable.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_System.Collections.Immutable.dll" Source="$(var.NugetPackagesDir)\System.Collections.Immutable.1.2.0\lib\netstandard1.0\System.Collections.Immutable.dll" />
      </Component>

      <Component Id="Compiler_Redist_System.Reflection.Metadata.dll" Guid="$(fsharp.guid(Compiler_Redist_System.Reflection.Metadata.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_System.Reflection.Metadata.dll" Source="$(var.NugetPackagesDir)\System.Reflection.Metadata.1.4.1-beta-24227-04\lib\netstandard1.1\System.Reflection.Metadata.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.DiaSymReader.PortablePdb.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.DiaSymReader.PortablePdb.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.DiaSymReader.PortablePdb.dll" Source="$(var.NugetPackagesDir)\Microsoft.DiaSymReader.PortablePdb.1.1.0\lib\netstandard1.1\Microsoft.DiaSymReader.PortablePdb.dll" />
      </Component>

      <Component Id="Compiler_Redist_Microsoft.DiaSymReader.dll" Guid="$(fsharp.guid(Compiler_Redist_Microsoft.DiaSymReader.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_Microsoft.DiaSymReader.dll" Source="$(var.NugetPackagesDir)\Microsoft.DiaSymReader.1.0.8\lib\netstandard1.1\Microsoft.DiaSymReader.dll" />
      </Component>

      <Component Id="Compiler_Redist_System.ValueTuple.dll" Guid="$(fsharp.guid(Compiler_Redist_System.ValueTuple.dll, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_System.ValueTuple.dll" Source="$(var.NugetPackagesDir)\System.ValueTuple.4.3.0\lib\netstandard1.0\System.ValueTuple.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp">
      <Component Id="Compiler_Redist_OtherResources_Redist.txt" Guid="$(fsharp.guid(Compiler_OtherResources_Redist.txt, $(var.LocaleCode)))">
          <File Id="Compiler_Redist_OtherResources_Redist.txt" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\Redist.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MicrosoftSDKs_FS_Licenses">
      <Component Id="Compiler_Redist_OtherResources_ThirdPartyNotices.txt" Guid="$(fsharp.guid(Compiler_OtherResources_ThirdPartyNotices.txt, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_OtherResources_ThirdPartyNotices.txt" Source="$(var.BinariesDir)\setup\resources\ThirdPartyNotices.txt" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="MicrosoftSDKs_FS_Licenses_$(var.LocaleId)">
      <Component Id="Compiler_Redist_OtherResources_FSharp_eula.$(var.LocaleCode).rtf" Guid="$(fsharp.guid(Compiler_OtherResources_FSharp_eula.$(var.LocaleCode).rtf, $(var.LocaleCode)))">
        <File Id="Compiler_Redist_OtherResources_FSharp_eula.$(var.LocaleCode).rtf" Source="$(var.BinariesDir)\setup\resources\eula\VF_EULA.$(var.LocaleCode).rtf" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>