<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <ComponentGroup Id="Runtime_Redist">

      <!-- F# 4.1 -->
      <ComponentRef Id="Runtime_Redist_4.4.1.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.47.41.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.7.41.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.78.41.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.259.41.0_FSharp.Core" />

      <!-- F# 4.0 -->
      <ComponentRef Id="Runtime_Redist_4.4.0.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.47.4.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.7.4.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.78.4.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.259.4.0_FSharp.Core" />

      <!-- F# 3.1 -->
      <ComponentRef Id="Runtime_Redist_4.3.1.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_2.3.5.1_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.3.1.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.78.3.1_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_3.259.3.1_FSharp.Core" />

      <!-- F# 3.0 -->
      <ComponentRef Id="Runtime_Redist_4.3.0.0_FSharp.Core" />
      <ComponentRef Id="Runtime_Redist_2.3.5.0_FSharp.Core" />    

    </ComponentGroup>

    <!-- F# 4.1 -->

    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.1.0">
      <Component Id="Runtime_Redist_4.4.1.0_FSharp.Core" Transitive="yes" Guid="$(fsharp.guid(Runtime_Redist_4.4.1.0_FSharp.Core, $(var.LocaleCode)))">
        <File Id="Runtime_Redist_4.4.1.0_FSharp.Core.dll" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_4.4.1.0_FSharp.Core.xml" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files. For consistency we also continue to produce the files -->
        <!-- for FSharp.Core 4.4.1.0, and include them in the redist. -->
        <!-- -->
        <!-- We should continue to produce the files for FSharp.Core 4.4.2.0 and beyond, for inclusion in the FSharp.Core -->
        <!-- nuget package. We should do this for as long as it is possible that old F# compilers (VS2010-VS2017) will end up referring to newer -->
        <!-- versions of the FSharp.Core package (which can happen automatically on package upgrade).  However for FSharp.Core 4.4.2.0 -->
        <!-- beyond the files will not be needed in the redist, which is only ever installed on machines alongside a recent -->
        <!-- F# compiler -->
        <File Id="Runtime_Redist_4.4.1.0_FSharp.Core.sigdata" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_4.4.1.0_FSharp.Core.optdata" Source="$(var.BinariesDir)\net40\bin\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.41.0">
      <Component Id="Runtime_Redist_3.47.41.0_FSharp.Core" Transitive="yes" Guid="$(fsharp.guid(Runtime_Redist_3.47.41.0_FSharp.Core, $(var.LocaleCode)))">
        <File Id="Runtime_Redist_3.47.41.0_FSharp.Core.dll" Source="$(var.BinariesDir)\profiles\portable-net45+sl5+netcore45\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.47.41.0_FSharp.Core.xml" Source="$(var.BinariesDir)\profiles\portable-net45+sl5+netcore45\FSharp.Core.xml" />
        <!-- See notes above on signdata/optdata and why they are still included here.  -->
        <File Id="Runtime_Redist_3.47.41.0_FSharp.Core.sigdata" Source="$(var.BinariesDir)\profiles\portable-net45+sl5+netcore45\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.47.41.0_FSharp.Core.optdata" Source="$(var.BinariesDir)\profiles\portable-net45+sl5+netcore45\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.41.0">
      <Component Id="Runtime_Redist_3.7.41.0_FSharp.Core" Transitive="yes" Guid="$(fsharp.guid(Runtime_Redist_3.7.41.0_FSharp.Core, $(var.LocaleCode)))">
        <File Id="Runtime_Redist_3.7.41.0_FSharp.Core.dll" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.7.41.0_FSharp.Core.xml" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45\FSharp.Core.xml" />
        <!-- See notes above on signdata/optdata and why they are still included here.  -->
        <File Id="Runtime_Redist_3.7.41.0_FSharp.Core.sigdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.7.41.0_FSharp.Core.optdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.41.0">
      <Component Id="Runtime_Redist_3.78.41.0_FSharp.Core" Transitive="yes" Guid="$(fsharp.guid(Runtime_Redist_3.78.41.0_FSharp.Core, $(var.LocaleCode)))">
        <File Id="Runtime_Redist_3.78.41.0_FSharp.Core.dll" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wp8\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.78.41.0_FSharp.Core.xml" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wp8\FSharp.Core.xml" />
        <!-- See notes above on signdata/optdata and why they are still included here.  -->
        <File Id="Runtime_Redist_3.78.41.0_FSharp.Core.sigdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wp8\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.78.41.0_FSharp.Core.optdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wp8\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.41.0">
      <Component Id="Runtime_Redist_3.259.41.0_FSharp.Core" Transitive="yes" Guid="$(fsharp.guid(Runtime_Redist_3.259.41.0_FSharp.Core, $(var.LocaleCode)))">
        <File Id="Runtime_Redist_3.259.41.0_FSharp.Core.dll" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wpa81+wp8\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.259.41.0_FSharp.Core.xml" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wpa81+wp8\FSharp.Core.xml" />
        <!-- See notes above on signdata/optdata and why they are still included here.  -->
        <File Id="Runtime_Redist_3.259.41.0_FSharp.Core.sigdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wpa81+wp8\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.259.41.0_FSharp.Core.optdata" Source="$(var.BinariesDir)\profiles\portable-net45+netcore45+wpa81+wp8\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>

    <!-- F# 4.0 -->

    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.4.0.0">
      <Component Id="Runtime_Redist_4.4.0.0_FSharp.Core" Transitive="yes" Guid="DA07D2FE-8B67-566A-A48C-88AB3188BBCA">
        <File Id="Runtime_Redist_4.4.0.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.4.0.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_4.4.0.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.4.0.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_4.4.0.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.4.0.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_4.4.0.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.4.0.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_3.47.4.0">
      <Component Id="Runtime_Redist_3.47.4.0_FSharp.Core" Transitive="yes" Guid="37873912-7DAC-5992-9FEA-92CF91857AA8">
        <File Id="Runtime_Redist_3.47.4.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\3.47.4.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.47.4.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\3.47.4.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.47.4.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\3.47.4.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.47.4.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\3.47.4.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.7.4.0">
      <Component Id="Runtime_Redist_3.7.4.0_FSharp.Core" Transitive="yes" Guid="1574403D-39A7-5946-A982-AF82AAC8D7EB">
        <File Id="Runtime_Redist_3.7.4.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.7.4.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.7.4.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.7.4.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.7.4.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.7.4.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.7.4.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.7.4.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.4.0">
      <Component Id="Runtime_Redist_3.78.4.0_FSharp.Core" Transitive="yes" Guid="38863225-7332-5676-B315-D075D92EE7B3">
        <File Id="Runtime_Redist_3.78.4.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.4.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.78.4.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.4.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.78.4.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.4.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.78.4.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.4.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.4.0">
      <Component Id="Runtime_Redist_3.259.4.0_FSharp.Core" Transitive="yes" Guid="DCD97222-B0CF-5CA6-AFED-E12CA45E3A50">
        <File Id="Runtime_Redist_3.259.4.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.4.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.259.4.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.4.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.259.4.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.4.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.259.4.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.4.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>

    <!-- F# 3.1 -->

    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.1.0">
      <Component Id="Runtime_Redist_4.3.1.0_FSharp.Core" Transitive="yes" Guid="4A1993AA-FA5A-45E5-A08C-7A1887DA52B9">
        <File Id="Runtime_Redist_4.3.1.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.1.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_4.3.1.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.1.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_4.3.1.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.1.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_4.3.1.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.1.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.1">
      <Component Id="Runtime_Redist_2.3.5.1_FSharp.Core" Transitive="yes" Guid="32033C8F-1065-453D-B97F-382FA8E47711">
        <File Id="Runtime_Redist_2.3.5.1_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.1\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_2.3.5.1_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.1\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_2.3.5.1_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.1\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_2.3.5.1_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.1\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.3.1.0">
      <Component Id="Runtime_Redist_3.3.1.0_FSharp.Core" Transitive="yes" Guid="66247184-2DBA-45FC-8F6C-620DB406D01E">
        <File Id="Runtime_Redist_3.3.1.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.3.1.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.3.1.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.3.1.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.3.1.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.3.1.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.3.1.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.3.1.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.78.3.1">
      <Component Id="Runtime_Redist_3.78.3.1_FSharp.Core" Transitive="yes" Guid="4E980E06-B1D8-4CE1-AA06-8BECA0CE042F">
        <File Id="Runtime_Redist_3.78.3.1_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.3.1\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.78.3.1_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.3.1\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.78.3.1_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.3.1\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.78.3.1_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.78.3.1\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETCore_3.259.3.1">
      <Component Id="Runtime_Redist_3.259.3.1_FSharp.Core" Transitive="yes" Guid="F0C04DA6-86D2-49DF-9348-E8A69B95EA70">
        <File Id="Runtime_Redist_3.259.3.1_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.3.1\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_3.259.3.1_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.3.1\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_3.259.3.1_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.3.1\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_3.259.3.1_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETCore\3.259.3.1\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>

    <!-- F# 3.0 -->

    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETFramework_4.0_4.3.0.0">
      <Component Id="Runtime_Redist_4.3.0.0_FSharp.Core" Transitive="yes" Guid="A0608A0C-5B4A-439E-B058-5930433BF254">
        <File Id="Runtime_Redist_4.3.0.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.0.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_4.3.0.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.0.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_4.3.0.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.0.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_4.3.0.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETFramework\v4.0\4.3.0.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ReferenceAssemblies_Microsoft_FSharp_NETPortable_2.3.5.0">
      <Component Id="Runtime_Redist_2.3.5.0_FSharp.Core" Transitive="yes" Guid="AFE254E7-FC12-4F7D-A804-9DF009BFBD8E">
        <File Id="Runtime_Redist_2.3.5.0_FSharp.Core.dll" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.0\FSharp.Core.dll" KeyPath="yes" />
        <File Id="Runtime_Redist_2.3.5.0_FSharp.Core.xml" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.0\FSharp.Core.xml" />
        <!-- NOTE: The optdata and sigdata files are now integrated as resources for more recent FSharp.Core.dll's. -->
        <!-- However old versions of FSharp.Core still need these files, which is why they are included here - and always shoul be. -->
        <File Id="Runtime_Redist_2.3.5.0_FSharp.Core.sigdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.0\FSharp.Core.sigdata" />
        <File Id="Runtime_Redist_2.3.5.0_FSharp.Core.optdata" Source="$(var.NugetPackagesDir)\Microsoft.VisualFSharp.Core.Redist.1.0.0\content\.NETPortable\2.3.5.0\FSharp.Core.optdata" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>