name: Add all issues to F# project

on:
  issues:
    types:
      - opened
      - transferred

permissions:
  issues: write
  repository-projects: write

jobs:
  cleanup_old_runs:
      runs-on: ubuntu-20.04
      permissions:
        actions: write
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      steps:
      - name: Delete old workflow runs
        run: |
          _UrlPath="/repos/$GITHUB_REPOSITORY/actions/workflows"
          _CurrentWorkflowID="$(gh api -X GET "$_UrlPath" | jq '.workflows[] | select(.name == '\""$GITHUB_WORKFLOW"\"') | .id')"
          gh api -X GET "$_UrlPath/$_CurrentWorkflowID/runs" --paginate \
            | jq '.workflow_runs[] | select(.status == "completed") | .id' \
            | xargs -I{} gh api -X DELETE "/repos/$GITHUB_REPOSITORY/actions/runs"/{}
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    permissions:
      issues: write
      repository-projects: write
    steps:
      - uses: actions/add-to-project@v0.3.0
        with:
          project-url: https://github.com/orgs/dotnet/projects/126/
          github-token: ${{ secrets.GITHUB_TOKEN }}
